_flows.json
[{"id":"d9814030.0dcba","type":"tab","label":"health insurance  cost prediction flow","disabled":false,"info":""},{"id":"9710ac5e.c03ff","type":"function","z":"d9814030.0dcba","name":"PreToken","func":"global.set(\"age\",msg.payload.age)\nglobal.set(\"sex\",msg.payload.sex)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"children\",msg.payload.children)\nglobal.set(\"smoker\",msg.payload.smoker)\nglobal.set(\"region\",msg.payload.region)\n\nvar apikey=\"lqAMY115FyGi5k-PkhFooHbzGERNbT3UM0lZqG3_Mm_k\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":60,"wires":[["3d18252a.1125fa"]]},{"id":"3d18252a.1125fa","type":"http request","z":"d9814030.0dcba","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":140,"wires":[["d53da017.ad783"]]},{"id":"e3e4b093.f4f52","type":"debug","z":"d9814030.0dcba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":890,"y":220,"wires":[]},{"id":"d53da017.ad783","type":"function","z":"d9814030.0dcba","name":"Pre Prediction","func":"var age = global.get('age')\nvar sex = global.get('sex')\nvar bmi = global.get('bmi')\nvar children= global.get('children')\nvar smoker = global.get('smoker')\nvar region = global.get('region')\nvar token=msg.payload.access_token\nvar instance_id=\"acc2ed1a-0ed3-4ebc-9bd3-c5e6b311ab2e\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"age\", \"sex\", \"bmi\", \"children\",\"smoker\",\"region\"], \"values\": [[age,sex,bmi,children,smoker,region]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":320,"wires":[["6948febf.baa1c","6bee5ec.2e743a"]]},{"id":"6948febf.baa1c","type":"http request","z":"d9814030.0dcba","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/abc83476-fea8-4a12-bb4a-92458c6ffcd6/predictions","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":240,"wires":[["8c543455.5333c8"]]},{"id":"d94b92ca.a3d8f","type":"ui_form","z":"d9814030.0dcba","name":"","label":"Health Insurance Cost Prediction","group":"5ac3f94c.a9a718","order":0,"width":0,"height":0,"options":[{"label":"age","value":"age","type":"number","required":true,"rows":null},{"label":"sex","value":"sex","type":"text","required":true,"rows":null},{"label":"bmi","value":"bmi","type":"number","required":true,"rows":null},{"label":"children","value":"children","type":"number","required":true,"rows":null},{"label":"smoker","value":"smoker","type":"text","required":true,"rows":null},{"label":"region","value":"region","type":"text","required":true,"rows":null}],"formValue":{"age":"","sex":"","bmi":"","children":"","smoker":"","region":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":160,"y":480,"wires":[["9710ac5e.c03ff"]]},{"id":"7f70319f.669b8","type":"ui_text","z":"d9814030.0dcba","group":"5ac3f94c.a9a718","order":1,"width":0,"height":0,"name":"","label":"Charges","format":"{{msg.payload}}","layout":"row-spread","x":860,"y":60,"wires":[]},{"id":"8c543455.5333c8","type":"function","z":"d9814030.0dcba","name":"predicted value","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":100,"wires":[["7f70319f.669b8","e3e4b093.f4f52"]]},{"id":"6bee5ec.2e743a","type":"debug","z":"d9814030.0dcba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":420,"wires":[]},{"id":"5ac3f94c.a9a718","type":"ui_group","z":"","name":"life Insurance prediction","tab":"83474122.85d85","order":1,"disp":true,"width":"6","collapse":false},{"id":"83474122.85d85","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]